.header {

    &__row {
        padding-block: 20px;
        align-items: center;
        position: relative;
    }

    &__column--first {
        margin-right: 24px;
    }

    &__link--wrap {
        cursor: pointer;
    }

    &__ul {
        display: flex;
    }

    &__list-item {
        margin-inline: 24px 5px;
    }

    &__list-item--with-button {
        margin-left: 20px;
        padding-right: 32px;
        cursor: pointer;
    }

    &__link {
        @include text-description;
    }

    &__link--with-button {
        position: relative;
        @include text-description;

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 7px;
            background-image: url(../img/header/arrow.svg);
            top: 6px;
            right: -20px;
            cursor: pointer;
        }
    }

    &__column--third {
        margin-left: auto;
        flex-direction: row;
        column-gap: 7px;
    }

    &__button {
        cursor: pointer;
    }

    &__button-burger-open {
        display: none;
        position: absolute;
        width: 23px;
        height: 23px;
        background-image: url(../img/header/burger-open.png);
        border: 0;
        outline: 0;
    }

    @include tablet {
        &__column--first {
            margin-right: 0;
        }

        &__ &__list-item {
            margin-inline: 20px 0px;
        }

        &__list-item--with-button {
            padding-right: 24px;
        }
    }

    @include tablet-small {
        &__logo {
            width: 100px;
        }

        &__ &__list-item {
            margin-inline: 18px 0px;
        }

        &__list-item--with-button {
            padding-right: 18px;
        }
    }

    @include mobile {
        &__column--second {
            display: none;
        }

        &__column--third {
            display: none;
        }

        &__logo {
            width: 123px;
        }

        &__button-burger-open {
            top: 20px;
            right: 40px;
        }
    }

    @include mobile-small {
        &__button-burger-open {
            right: 20px;
        }
    }
}