:root {
    // цвета
    --color-white: #FFFFFF;
    --color-gray: #E0E0E0;
    --color-darkgray: #666666;
    --color-green: #24B47E;

    --color-background: #181818; // todo

    // шрифты
    --font-family: "Roboto", Arial, sans-serif;

    // отступы

    --padding-default: 160px;
    --padding-tablet: 100px;
    --padding-tablet-small: 60px;
    --padding-mobile: 40px;
    --padding-mobile-small: 20px;
    // --padding-default-: 160px;
}